<header>
    <div class="navbar">
    <a href="#" class="logo">Meditrack</a>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/about">About Me</a></li>
    </ul>

     
     <div class="btn">
       <button type="submit">
       <i class="fa-solid fa-cart-shopping" aria-hidden="true"></i>
       <p>Login</p>
     </button>
     </div>
   </div>
   </header>