<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/about.css">
    <link rel="stylesheet" href="stylesheets/navbar.css">
    <title>About Me</title>
</head>
<body>
    <%- include("partials/navbar")  %>
    <div class="container">
        <img src="/images/Profile.jpg" alt="Profile Picture">

        <div class="about-me">
            <h1>Mohit Kumar</h1>
            <p>I am a Backend Developer who bring expertise in building APIs,
                backend, and frontend projects with a solid foundation in
                Node.js and Express.js. Proficient in MongoDB, JavaScript,
                and Java, I am eager to apply my skills in a collaborative
                and growth-focused environment. Quick to learn and
                adapt to new technologies, I am driven to contribute
                positively to organizational goals.</p>
        </div>
    </div>
</body>
</html>