<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/addmeds.css">
    <title>Dashboard</title>
</head>
<body>
    <%- include("partials/navbar") %>
    <div class="container">
        <div class="add-med">
            <form>
                <div class="form-row">
                    <label for="fname">Medicine name:</label>
                    <input type="text" id="fname" name="fname">
                </div>
                <div class="form-row">
                    <label for="fname">Medicine name:</label>
                    <input type="text" id="fname" name="fname">
                </div>
              </form> 
        </div>
    </div>
</body>
</html>