<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="add-med">
        <form action="#" method="post">
            <input type="text" required placeholder="Enter Medicine name :">
            <input type="number" min="1" max="" required placeholder="Enter Medicine name :">
            <button type="submit" id="add-btn">Add</button>
        </form>
    </div>
</body>
</html>