<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/addmeds.css">
    <title>Dashboard</title>
</head>
<body>
    <%- include("partials/navbar") %>
    <div class="container">
        <div class="add-med">
            <h1>Add Medicine</h1>
            <form>
                <div class="form-row">
                    <label for="name">Medicine name:</label>
                    <input type="text" id="name" name="name">
                </div>
                <div class="form-row">
                    <label for="days">Intake for Days:</label>
                    <input type="text" id="days" name="days">
                </div>
                <div class="form-row">
                    <label for="perday">Intake per Days:</label>
                    <input type="text" id="perday" name="perday">
                </div>
                <div class="form-row">
                    <label for="perday">Intake per Days:</label>
                    <input type="text" id="perday" name="perday">
                </div>
                <button id="add-btn" type="submit">Add Medicine</button>
              </form> 
        </div>
    </div>
</body>
</html>