<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
    <title>Dashboard</title>
</head>
<body>
    <%- include("partials/navbar") %>
    <div class="body">
        <div class="container">
            <button id="add-btn">
                <a href="/dashboard/addmeds">Add Medicine</a>
            </button>
            <div class="all-med">
                <div class="med">
                    <span class="name">Paracetamol</span>
                    <span class="status-btns">
                        <button class="status-btn" style="background-color: #007bff;"><a href="#">&nbsp;&nbsp;</a></button>
                        <button class="status-btn" style="background-color: #007bff;"><a href="#">&nbsp;&nbsp;</a></button>
                    </span>
                    <span class="status-dropdown">
                        <select name="status" id="status">
                            <option value="Taken">Taken</option>
                            <option value="Not Taken">Not Taken</option>
                        </select>
                    </span>
                    <button><a href="#">Delete</a></button>
                </div>

                
                <div class="med">
                    <span class="name">Paracetamol</span>
                    <span class="status-btns">
                        <button class="status-btn" style="background-color: #007bff;"><a href="#">&nbsp;&nbsp;</a></button>
                        <button class="status-btn" style="background-color: #007bff;"><a href="#">&nbsp;&nbsp;</a></button>
                    </span>
                    <span class="status-dropdown">
                        <select name="status" id="status">
                            <option value="Taken">Taken</option>
                            <option value="Not Taken">Not Taken</option>
                        </select>
                    </span>
                    <button><a href="#">Delete</a></button>
                </div>

                <div class="med">
                    <span class="name">Paracetamol</span>
                    <span class="status-btns">
                        <button class="status-btn" style="background-color: #007bff;"><a href="#">&nbsp;&nbsp;</a></button>
                        <button class="status-btn" style="background-color: #007bff;"><a href="#">&nbsp;&nbsp;</a></button>
                    </span>
                    <span class="status-dropdown">
                        <select name="status" id="status">
                            <option value="Taken">Taken</option>
                            <option value="Not Taken">Not Taken</option>
                        </select>
                    </span>
                    <button><a href="#">Delete</a></button>
                </div>

                <div class="med">
                    <span class="name">Paracetamol</span>
                    <span class="status-btns">
                        <button class="status-btn" style="background-color: #007bff;"><a href="#">&nbsp;&nbsp;</a></button>
                        <button class="status-btn" style="background-color: #007bff;"><a href="#">&nbsp;&nbsp;</a></button>
                    </span>
                    <span class="status-dropdown">
                        <select name="status" id="status">
                            <option value="Taken">Taken</option>
                            <option value="Not Taken">Not Taken</option>
                        </select>
                    </span>
                    <button><a href="#">Delete</a></button>
                </div>


            </div>
        </div>
    </div>
</body>
</html>