<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome | Medicine Tracker</title>
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/welcome.css">
</head>

<body>
    <%- include("partials/navbar") %>
    <div class="container">
        <img src="/images/Medical-Tracker.jpg" alt="Doctor Prescribing medicine">
        <div class="description">
            <p>Track and manage your medicine intake easily with our user-friendly application.Create personalized medicine schedules tailored to your specific prescription and health needs.</p>
            <a href="/dashboard" class="start-btn">Start Tracking</a>
        </div>
    </div>
</body>
</html>