body{
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("/images/Background.jpg");
    overflow-y: scroll;
}

.body{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}
.container{
    min-width: 50%;
    max-width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 40px 20px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: rgba(255, 255, 255, 0.7) 0px 7px 29px 0px;
    border-radius: 30px;

}

#add-btn{
    width: fit-content;
    background-color: #007bff;
    padding: 5px 10px;
    margin-left: 20px;
    line-height: 25px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    box-shadow: rgba(0, 123, 255, 0.7) 0px 2px 8px 0px;
}
#add-btn a{
    font-size: 16px;
    font-weight: 600;
    color: white;
    text-decoration: none;
}



/* all meds */

.all-med{
    margin-top: 20px;
    min-width: 70%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.med{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
    margin: 5px 0;
    padding: 0 10px;
    background-color: white;
}

.med .name{
    min-width: 40%;
    font-size: 18px;
    text-transform: capitalize;
}

.med .status-btns .status-btn{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: none;
    box-shadow: rgba(0, 123, 255, 0.5) 0px 1px 4px;
}

.med .status-dropdown{
    /* background-color: red; */
}

.med .status-dropdown select{
    min-width: 120px;
    max-width: 150px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-size: 16px;
    text-align: center;
}

.med .status-dropdown select option{
}


.med button{
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: red;
    box-shadow: rgba(255, 0, 0, 0.5) 0px 2px 8px 0px;
}

.med button a{
    text-decoration: none; 
    color: white;
    font-weight: 600;
}